<header>
  <hs-mute-control [playing]="playing"
                    (start)="start.next()"
                    (stop)="stop.next()">
  </hs-mute-control>
  <button md-button (click)="switchToSine()">
    Base sine
  </button>
  <button md-button (click)="switchToSquare()">
    Square
  </button>
  <button md-button (click)="switchToSawTooth()">
    Sawtooth
  </button>
  <hs-note-control [frequency]="fundamentalFrequency"
                    (frequencyChange)="fundamentalFrequencyChange.next($event)">
  </hs-note-control>
  <div class="gh-button">
    <a class="github-button"
      href="https://github.com/teropa/harmonics-explorer"
      data-style="mega"
      data-count-href="/teropa/harmonics-explorer/stargazers" data-count-api="/repos/teropa/harmonics-explorer#stargazers_count" data-count-aria-label="# stargazers on GitHub"
      aria-label="Star teropa/harmonics-explorer on GitHub">
      Star
    </a>
  </div>
</header>